section.home-6(class="relative overflow-hidden")
	.home-6-bg(class="absolute top-[-1.5rem] right-[-2rem] rem:w-[180px] rem:h-[314px] z-40")
		img(src="./img/bg-home-4.png", alt="" class="w-full h-full object-cover lozad")
	.container 
		.home-6-main(class="grid md:grid-cols-2 grid-cols-1 gap-base")
			.item 
				.image(class="relative") 
					a(href="#" class="img-ratio ratio:pt-[374_680] lozad rounded-2xl")
						img(src="./img/1.jpg", alt="") 
					.content(class="absolute top-2/4 -translate-y-2/4 left-15 rem:w-[287px]")
						.text(class="text-lg font-normal mb-5 text-Neutral-White") New wines added
						.title(class="title-36 !text-Neutral-White") enjoy 10% off your wine order
			.item 
				.image(class="relative") 
					a(href="#" class="img-ratio ratio:pt-[374_680] lozad rounded-2xl")
						img(src="./img/1.jpg", alt="") 
					.content(class="absolute top-2/4 -translate-y-2/4 left-15 rem:w-[287px]")
						.text(class="text-lg font-normal mb-5 text-Neutral-White") New wines added
						.title(class="title-36 !text-Neutral-White") enjoy 10% off your wine order