section.about-5(class="section-py bg-Primary-Silver relative")
	.container 
		.top(class="mb-base")
			h2(class="title-36 mb-base") Showroom
			.desc(class="text-Neutral-Black font-normal text-lg") 
				p Không gian showroom của chúng tôi được thiết kế theo phong cách hiện đại và tối giản với các sản phẩm được trưng bày khoa học. Tất cả sản phẩm đều được đảm bảo đáp ứng các tiêu chuẩn về nhiệt độ, ánh sáng, độ ẩm để giữ được chất lượng tốt nhất. Khách hàng khi đến với VIETAUBEV sẽ được trải nghiệm mua sắm trong không gian thoải mái và nhận được sự tư vấn nhiệt tình từ đội ngũ nhân viên chuyên nghiệp.
		.bottom 
			.swiper.showroom-swiper 
				.swiper-wrapper 
					.swiper-slide 
						.item 
							a(href="#" class="img-ratio ratio:pt-[420_680] lozad zoom-img rounded-2xl")
								img(src="./img/1.jpg", alt="") 
					.swiper-slide 
						.item 
							a(href="#" class="img-ratio ratio:pt-[420_680] lozad zoom-img rounded-2xl")
								img(src="./img/1.jpg", alt="") 
					.swiper-slide 
						.item 
							a(href="#" class="img-ratio ratio:pt-[420_680] lozad zoom-img rounded-2xl")
								img(src="./img/1.jpg", alt="") 
					.swiper-slide 
						.item 
							a(href="#" class="img-ratio ratio:pt-[420_680] lozad zoom-img rounded-2xl")
								img(src="./img/1.jpg", alt="") 
	.arrow-button(class="absolute top-2/4 -translate-y-2/4 w-full flex items-center justify-between mt-25 rem:px-[172px]")
		.btn.btn-prev.btn-sw-1
		.btn.btn-next.btn-sw-1
		
