section.about-7(class="section-py relative bg-Neutral-White z-50")
	.about-3-vector-right(class="absolute right-0 top-0 rem:h-[314px] rem:w-[180px]")
		img(src="./img/vector2.png", alt="" class="w-full h-full object-contain")
	.container 
		h2(class="title-36 mb-base") khách hàng - đối tác
		.about-7-slide(class="relative")
			.swiper.about-7-swiper 
				.swiper-wrapper 
					-for(var i = 0; i <= 16; i++)
						.swiper-slide 
							.item(class="rem:w-[200px] rem:h-[200px] rounded-2xl shadow-Dropshadow-Light bg-Neutral-White") 
								a(href="#" class="aspect-1 img-ratio zoom-img lozad")
									img(src="./img/brand-1.png", alt="") 
			.wrap-button-slide
				.btn.btn-prev.btn-sw-1
				.btn.btn-next.btn-sw-1
