section.global-breadcrumb
	.container
		nav(aria-label="breadcrumbs", class="rank-math-breadcrumb")
			p
				a(href="https://oracle.webcanhcam.vn") Trang chủ
				span(class="separator")  | 
				span(class="last") Về chúng tôi 
section.faq(class="section-py bg-Neutral-White relative z-50")
	.container 
		.faq-main(class="flex flex-col md:flex-row gap-base")
			.col-left(class="md:w-3/12 w-full")
				.box-navigation
					.title-navigation(class="flex items-center text-base md:text-lg lg:text-2xl text-Neutral-White bg-Primary-Red px-5 rem:min-h-[50px] py-2 rounded-t-lg font-bold") Hỗ trợ khách hàng
					ul(class="list-navigation px-5 bg-neutral-50 rounded-b-lg")
						li.active 
							a(href="#" class="flex items-center gap-3 text-base lg:gap-6 lg:text-lg py-4 border-b border-[#D9D9D9]") 
								span Chính sách giao nhận và đổi trả
						li 
							a(href="#" class="flex items-center gap-3 text-base lg:gap-6 lg:text-lg py-4 border-b border-[#D9D9D9]") 
								span Chính sách giao nhận và đổi trả
						li 
							a(href="#" class="flex items-center gap-3 text-base lg:gap-6 lg:text-lg py-4 border-b border-[#D9D9D9]") 
								span Chính sách giao nhận và đổi trả
						li 
							a(href="#" class="flex items-center gap-3 text-base lg:gap-6 lg:text-lg py-4 border-b border-[#D9D9D9]") 
								span Chính sách giao nhận và đổi trả
						li 
							a(href="#" class="flex items-center gap-3 text-base lg:gap-6 lg:text-lg py-4 border-b border-[#D9D9D9]") 
								span Chính sách giao nhận và đổi trả
			.col-right(class="md:w-9/12 w-full")
				.title-line(class="text-6xl text-Primary-Red mb-5") Chính sách bán hàng
				.wrap 
					.format-content(class="mb-5")