section.home-2(class="section-py" setBackground="./img/bg.png")
	.container 
		.home-2-list(class="grid lg:grid-cols-4 md:grid-cols-2 gap-base relative z-50")
			.home-2-item
				.icon(class="h-8 flex flex-shrink-0 text-32 font-black text-Primary-Red") 
					i.fa-solid.fa-wine-glass
				.content
					.top
						h3(class="text-lg font-bold text-Primary-Red mb-3") 2000+ sản phẩm chính hãng
					.bottom
						.desc(class="text-Neutral-400 font-normal") 
							p Tuyển chọn từ các thương hiệu danh tiếng.
			.home-2-item
				.icon(class="h-8 flex flex-shrink-0 text-32 font-black text-Primary-Red") 
					i.fa-solid.fa-truck-fast
				.content
					.top
						h3(class="text-lg font-bold text-Primary-Red mb-3") 2000+ sản phẩm chính hãng
					.bottom
						.desc(class="text-Neutral-400 font-normal ") 
							p Tuyển chọn từ các thương hiệu danh tiếng.
			.home-2-item
				.icon(class="h-8 flex flex-shrink-0 text-32 font-black text-Primary-Red") 
					i.fa-solid.fa-box-circle-check
				.content
					.top
						h3(class="text-lg font-bold text-Primary-Red mb-3") 2000+ sản phẩm chính hãng
					.bottom
						.desc(class="text-Neutral-400 font-normal") 
							p Tuyển chọn từ các thương hiệu danh tiếng.
			.home-2-item
				.icon(class="h-8 flex flex-shrink-0 text-32 font-black text-Primary-Red") 
					i.fa-solid.fa-award
				.content
					.top
						h3(class="text-lg font-bold text-Primary-Red mb-3") 2000+ sản phẩm chính hãng
					.bottom
						.desc(class="text-Neutral-400 font-normal") 
							p Tuyển chọn từ các thương hiệu danh tiếng.
