section.home-10(class="section-py relative z-50 overflow-hidden")
	.container 
		.wrap(data-toggle="tabslet" class="mb-base")
			div.home-10-top(class="flex justify-between max-md:flex-col max-md:items-center mb-base")
				h2.title-36 Danh mục Sản phẩm
				ul.tabslet-tab.home-10-nav
					li.active 
						a(href="#tab1") Khuyến mãi
					li 
						a(href="#tab2") Tư vấn quà tết
					li 
						a(href="#tab3") Kiến thức rượu
				
			.tabslet-content.active#tab1
				.home-10-main(class="flex flex-col lg:flex-row lg:rem:gap-[112px] gap-10")
					.col-left(class="lg:rem:w-[640px] w-full")
						.home-10-image 
							a(href="#" class="img-ratio ratio:pt-[380_640] zoom-img lozad rounded-2xl")
								img(src="./img/1.jpg", alt="")
						.home-10-content(class="py-5 px-1 rounded-2xl")
							.date(class="text-sm text-Neutral-300 font-normal mb-3") 03.09.2024
							h3(class="text-2xl font-bold text-Neutral-950 mb-3  hover:text-Primary-Red") 
								a(href="#") Tại sao rượu vang lại cần phải THỞ 
							.desc(class="text-lg text-Neutral-800 font-normal line-clamp-3")
								p Đây chắc hẳn là câu hỏi khiến nhiều người tò mò khi lần đầu nghe đến khái niệm này. Rượu đâu phải con người, tại sao lại cần “hít thở” trước khi thưởng thức?
					.col-right(class="lg:w-[calc(100%-33.333333333333336rem-5.833333333333334rem)] flex flex-col gap-base w-full")
						.home-10-right-main(class="flex gap-6")
							.image(class="rem:w-[240px]")
								a(href="#" class="img-ratio ratio:pt-[160_240] zoom-img lozad rounded-lg")
									img(src="./img/1.jpg", alt="")
							.content(class="w-[calc(100%-12.5rem-1.25rem)]  rounded-2xl") 
								.date(class="text-sm text-Neutral-300 font-normal mb-1") 03.09.2024
								h3(class="text-xl hover:text-Primary-Red font-bold text-Neutral-950 line-clamp-2") 
									a(href="#") Không nên uống quá bao nhiêu ly cà phê một ngày? 
								.desc(class="text-Neutral-800 mt-2 line-clamp-2") 
									p Cách làm gà nướng chao thơm ngon hấp dẫn bạn đã biết chưa? Món ăn...
						.home-10-right-main(class="flex gap-6")
							.image(class="rem:w-[240px]")
								a(href="#" class="img-ratio ratio:pt-[160_240] zoom-img lozad rounded-lg")
									img(src="./img/1.jpg", alt="")
							.content(class="w-[calc(100%-12.5rem-1.25rem)]  rounded-2xl") 
								.date(class="text-sm text-Neutral-300 font-normal mb-1") 03.09.2024
								h3(class="text-xl hover:text-Primary-Red font-bold text-Neutral-950 line-clamp-2") 
									a(href="#") Không nên uống quá bao nhiêu ly cà phê một ngày? 
								.desc(class="text-Neutral-800 mt-2 line-clamp-2") 
									p Cách làm gà nướng chao thơm ngon hấp dẫn bạn đã biết chưa? Món ăn...
						.home-10-right-main(class="flex gap-6")
							.image(class="rem:w-[240px]")
								a(href="#" class="img-ratio ratio:pt-[160_240] zoom-img lozad rounded-lg")
									img(src="./img/1.jpg", alt="")
							.content(class="w-[calc(100%-12.5rem-1.25rem)]  rounded-2xl") 
								.date(class="text-sm text-Neutral-300 font-normal mb-1") 03.09.2024
								h3(class="text-xl hover:text-Primary-Red font-bold text-Neutral-950 line-clamp-2") 
									a(href="#") Không nên uống quá bao nhiêu ly cà phê một ngày? 
								.desc(class="text-Neutral-800 mt-2 line-clamp-2") 
									p Cách làm gà nướng chao thơm ngon hấp dẫn bạn đã biết chưa? Món ăn...
						
				.home-10-btn(class="flex-center mt-base") 
					.button-primary
						a(href="#")
							span Tìm hiểu thêm
							.icon 
								i.fa-regular.fa-arrow-right-long
	
			