section.home-5(class="section-py")
	.container 
		h2(class="title-36 mb-base") Rượu Vang Nhập
		.swiper.product-swiper 
			.swiper-wrapper 
				.swiper-slide 
					+ProductItem()
				.swiper-slide 
					+ProductItem()
				.swiper-slide 
					+ProductItem()
				.swiper-slide 
					+ProductItem()
				.swiper-slide 
					+ProductItem()
				.swiper-slide 
					+ProductItem()
				.swiper-slide 
					+ProductItem()
				.swiper-slide 
					+ProductItem()
			.home-5-scroll(class="mt-base")
				.swiper-scrollbar
			
		.indicator-swipe.active
			img(src="./img/chevron-left.svg", alt="" class="arrow")
			img(src="./img/finger.svg", alt="" class="hand")
			img(src="./img/chevron-right.svg", alt="" class="arrow")
		.home-3-btn(class="mt-base flex-center")
			+btnPrimary()