section.global-breadcrumb
	.container
		nav(aria-label="breadcrumbs", class="rank-math-breadcrumb")
			p
				a(href="https://oracle.webcanhcam.vn") Trang chủ
				span(class="separator")  | 
				span(class="last") Về chúng tôi 
section.about-1(class="section-py relative")
	.about-1-bg(class="absolute left-0 top-0 rem:w-[147px] rem:h-[256px] lozad") 
		img(src="./img/bg-about-1.png", alt="" class="w-full h-full object-cover")
	.container 
		h2(class="title-36 mb-base") Câu chuyện thương hiệu
		.desc(class="text-Neutral-Black font-normal text-lg") 
			p Được khởi nguồn từ niềm đam mê với nghệ thuật thưởng thức rượu vang, chúng tôi đã bắt đầu hành trình của mình với mong muốn mang đến những sản phẩm chất lượng nhất với giá thành cạnh tranh. Sau hơn 20 năm phát triển, thương hiệu của chúng tôi tự hào sở hữu danh mục sản phẩm đa dạng, từ những dòng rượu dành cho người mới bắt đầu đến các bộ sưu tập cao cấp nhất. Mỗi sản phẩm đều được tuyển chọn kỹ càng với cam kết tuyệt đối về nguồn gốc xuất xứ và chất lượng khi đến tay khách hàng.