section.about-6(class="rem:h-[722px] relative" setBackground="./img/about-6-bg.png")
	.container 
		.content(class="absolute top-2/4 -translate-y-2/4")
			h2(class="title-36 !text-Neutral-White mb-base") chính sách đại lý
			.about-6-list(class="grid grid-cols-3 gap-5")
				.item
					.icon 
						i.fa-solid.fa-money-bill-trend-up
					.content 
						.top 
							h3 Chiết khấu hấp dẫn 
						.bottom 
							.desc 
								p Chính sách giá ưu đãi và hỗ trợ vận chuyển.  Chính sách giá ưu đãi và hỗ trợ vận chuyển. 
				.item
					.icon 
						i.fa-solid.fa-chart-mixed
					.content 
						.top 
							h3 Chiết khấu hấp dẫn
						.bottom 
							.desc 
								p Chính sách giá ưu đãi và hỗ trợ vận chuyển.
				.item
					.icon 
						i.fa-solid.fa-wine-glass
					.content 
						.top 
							h3 Chiết khấu hấp dẫn
						.bottom 
							.desc 
								p Chính sách giá ưu đãi và hỗ trợ vận chuyển.

