extends ./_layout/_default.pug
	
block var
	- var title = ''
	- var bodyClass = 'about'
	
block main
	include ../components/modules/about/about-1/about-1
	include ../components/modules/about/about-2/about-2
	include ../components/modules/about/about-3/about-3
	include ../components/modules/about/about-4/about-4
	include ../components/modules/about/about-5/about-5
	include ../components/modules/about/about-6/about-6
	include ../components/modules/about/about-7/about-7