extends ./_layout/_default.pug
	
block var
	- var title = ''
	- var bodyClass = ''
	
block main
	include ../components/modules/home/home-1/home-1
	include ../components/modules/home/home-2/home-2
	include ../components/modules/home/home-3/home-3
	include ../components/modules/home/home-4/home-4
	include ../components/modules/home/home-5/home-5
	include ../components/modules/home/home-6/home-6
	include ../components/modules/home/home-7/home-7
	include ../components/modules/home/home-8/home-8
	include ../components/modules/home/home-9/home-9
	include ../components/modules/home/home-10/home-10
	include ../components/modules/home/home-11/home-11