//- button animation icon di chuyển sang phải
mixin button() 
	.button(class="mt-10")
		a(href="#" class="btn-lined")
			span xem them 
			span(class="icon") 
				i.fa-solid.fa-arrow-right
				i.fa-solid.fa-arrow-right
mixin subscribeForm()
	.subscribe
		.subscribefrm
			input.subscribeemail(type="text", placeholder="Nhập email của bạn...")
			button.subscribebutton Gửi
mixin PugImg(url="./img/1.jpg")
	img(data-src=url, alt="", class="lozad " + attributes.class)
mixin btnViewAll(text="Xem thêm")
	a(href="" x-link class='btn-primary-2 btn ' + attributes.class)
		span=text
		img(src=imgButton, alt="", class="w-5 h-5 svg")
mixin HeaderLanguageVertical()
	ul 
		li.wpml-ls-item
			a(href="") 
				span.wpml-ls-native VN
		ul 
			li 
				a(href="") 
					span EN
mixin HeaderLanguageHorizontal()
	ul 
		li.wpml-ls-item
			a(href="") 
				span.wpml-ls-native VN
		li.wpml-ls-item
			a(href="") 
				span.wpml-ls-native VN
mixin BtnPrimary(text="")
	a(href="", class='btn-primary btn ' + attributes.class)
		span=text

mixin btnPrimary()
	.btn-btn-primary(class="inline-flex items-center group")
		button(class="btn-primary py-3 px-5 border border-Neutral-900 group-hover:border-Primary-Primary_01  rem:h-[50px]")
			a(href="#" class="text-lg font-semibold") Explore 
		a(href="#" class="btn-lined group-hover:border-Primary-Primary_01 text-lg font-normal flex items-center gap-2")
			span(class="icon to-right") 
				i.fa-regular.fa-arrow-right
				i.fa-regular.fa-arrow-right
mixin btnSecondary()
	.btn-btn-secondary(class="inline-flex items-center group")
		button(class="btn-primary py-3 px-5 border border-Neutral-White  rem:h-[50px]")
			a(href="#" class="text-lg font-semibold") Explore 
		a(href="#" class="btn-lined  text-lg font-normal flex items-center gap-2")
			span(class="icon to-right") 
				i.fa-regular.fa-arrow-right
				i.fa-regular.fa-arrow-right
mixin btnPrimary()
	.button-primary
		a(href="#")
			span Tìm hiểu thêm
			.icon 
				i.fa-regular.fa-arrow-right-long

mixin ProductItem()
	.product-item(class="group relative") 
		.product-image 
			a(href="./productDetail.html" class="img-ratio ratio:pt-[360_320] lozad zoom-img")
				img(src="./img/product-1.png", alt="") 
		.product-content 
			.top 
				h3 
					a(href="#") WAKEFIELD TAYLOR FW The Visionary Cabernet Sauvignon 
			.bottom(class="relative flex justify-center items-center w-full rem:h-[46px]") 
				.price(class="group-hover:hidden flex items-center justify-center gap-5")
					.price-sale 4.400.000 ₫
					.price-old 5.400.000 ₫
				.button-add-cart(class="absolute inset-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible flex items-center justify-center transition-all duration-500 ease-linear w-full") 
					a(href="#" class="inline-flex justify-center rem:py-[10px] px-5 rounded-1 text-white items-center w-full bg-Primary-Red rem:gap-[10px]")
						span THÊM VÀO GIỎ HÀNG
						.icon 
							i.fa-regular.fa-cart-flatbed-boxes
mixin Banner()
	.banner 
		a(href="#" class="img-ratio ratio:pt-[600_1920]")
			img(src="./img/1.jpg", alt="") 