footer.footer(class="rem:pb-[25px] pt-17 bg-Primary-Red ")

	.footer-bg(class="absolute top-0 left-2/4 -translate-x-2/4 rem:w-[505px] rem:h-[234px] lozad")
		img(src="./img/bg-footer-2.png", alt="" class="w-full h-full object-cover")
	.social-fixed(class="fixed z-100 overflow-hidden right-0 rem:bottom-[184px]  flex  flex-col")
		ul 
			li 
				.social-messages
					a(href="#") 
						.icon(class="")
							i.fa-regular.fa-messages
					a(href="#") 
						.icon(class="border-t border-t-Primary-Red pt-2")
							i.fa-brands.fa-facebook-messenger
					a(href="#") 
						.icon
							i.fa-solid.fa-message-bot
					a(href="#") 
						.icon
							i.fa-brands.fa-whatsapp

	.container 
		.footer-top(class="text-center ")
			h2(class="title-36 !text-Neutral-White mb-6") đăng ký nhận thông tin 
			.text(class="text-lg font-normal text-Neutral-White") Nhập Email của bạn để nhân thông tin sớm nhất của chúng tôi
			form.form-footer(action="") 
				.form-field 
					input(type="text" placeholder="Nhập Email của bạn...")
				.btn-submit 
					button Gửi
		.footer-bottom(class="rem:pt-[62px] pb-10") 
			.footer-main(class="flex flex-col lg:flex-row xl:rem:gap-[120px] gap-base")
				.footer-left(class="xl:rem:w-[560px] lg:rem:w-[420px] w-full")
					h3 CÔNG TY TNHH THỰC PHẨM ĐỒ UỐNG VIỆT ÂU
					.footer-desc 
						p Số 44 - 44A Đường Số 1, Khu Phố 2, Phường An Khánh, TP. Thủ Đức, TP.HCM Hotline: 028 3622 7777 - 0926 238 239 Email: nganle@vietnamasia.vn GPDKKD: 0314866431 do sở KH & ĐT TP.HCM cấp ngày 29/01/2018 Giấy phép phân phối rượu số 463/GP-BCT do Bộ Công Thương cấp ngày 05 tháng 09 năm 2023
					.footer-image(class="rem:w-[171px] rem:h-[63px]") 
						a(href="#" class="w-full h-full block lozad")
							img(src="./img/bocongthuong.png", alt="" class="w-full h-full object-cover") 
				.footer-right(class="xl:w-[calc(100%-29.166666666666668rem-6.25rem)] lg:w-[calc(100%-21.875rem-2.08333rem)] w-full flex flex-col md:flex-row xl:rem:gap-[160px] gap-base")
					.col-left(class="lg:rem:w-[265px] w-full")
						.footer-column 
							h3 LIÊN KẾT NHANH
							ul.footer-menu 
								li 
									a(href="#") Giới thiệu 
								li 
									a(href="#") Giới thiệu 
								li 
									a(href="#") Giới thiệu 
								li 
									a(href="#") Giới thiệu 
								li 
									a(href="#") Giới thiệu 
								li 
									a(href="#") Giới thiệu 
					.col-right(class="lg:w-[calc(100%-13.802083333333334rem-8.333333333333334rem)] w-full")
						.footer-column 
							h3 HỖ TRỢ KHÁCH HÀNG
							ul.footer-menu 
								li 
									a(href="#") Chính sách bảo vệ thông tin
								li 
									a(href="#") Chính sách đặt hàng và giao hàng
								li 
									a(href="#") Chính sách thanh toán
								li 
									a(href="#") Chính sách trả tiền, hoàn hàng
								li 
									a(href="#") Giới thiệu 
								li 
									a(href="#") Giới thiệu 
						.footer-social 
							ul 
								li 
									a(href="#") 
										i.fa-brands.fa-facebook-f
								li 
									a(href="#") 
										i.fa-brands.fa-youtube
								li 
									a(href="#") 
										i.fa-brands.fa-instagram
								li 
									a(href="#") 
										i.fa-brands.fa-linkedin
		.footer-copyright(class="lg:py-6 py-4 pb-0 border-t border-t-255 flex items-center justify-between flex-col lg:flex-row") 
			.left 
				.desc(class="text-sm text-Neutral-White opacity-50 font-normal") 
					p © 2025 VIETAUBEV. All Rights Reserved. Thiết kế web bởi Cánh Cam.
			.right(class="flex items-center gap-3") 
				a(href="#") Điều kiện & Điều khoản
				a(href="#") Điều kiện & Điều khoản

