section.home-9(class="section-py relative")
	.container 
		h2(class="title-36 mb-base") TRUYỀN THÔNG NÓI VỀ chúng tôi
		.swiper.home-9-swiper 
			.swiper-wrapper 
				.swiper-slide 
					.item(class="rem:w-[200px] rem:h-[200px] rounded-2xl shadow-Dropshadow-Light bg-Neutral-White") 
						a(href="#" class="aspect-1 img-ratio lozad")
							img(src="./img/brand-1.png", alt="") 
				.swiper-slide 
					.item(class="rem:w-[200px] rem:h-[200px] rounded-2xl shadow-Dropshadow-Light bg-Neutral-White") 
						a(href="#" class="aspect-1 img-ratio lozad")
							img(src="./img/brand-1.png", alt="") 
				.swiper-slide 
					.item(class="rem:w-[200px] rem:h-[200px] rounded-2xl shadow-Dropshadow-Light bg-Neutral-White") 
						a(href="#" class="aspect-1 img-ratio lozad")
							img(src="./img/brand-1.png", alt="") 
				.swiper-slide 
					.item(class="rem:w-[200px] rem:h-[200px] rounded-2xl shadow-Dropshadow-Light bg-Neutral-White") 
						a(href="#" class="aspect-1 img-ratio lozad")
							img(src="./img/brand-1.png", alt="") 
				.swiper-slide 
					.item(class="rem:w-[200px] rem:h-[200px] rounded-2xl shadow-Dropshadow-Light bg-Neutral-White") 
						a(href="#" class="aspect-1 img-ratio lozad")
							img(src="./img/brand-1.png", alt="") 
				.swiper-slide 
					.item(class="rem:w-[200px] rem:h-[200px] rounded-2xl shadow-Dropshadow-Light bg-Neutral-White") 
						a(href="#" class="aspect-1 img-ratio lozad")
							img(src="./img/brand-1.png", alt="") 
				.swiper-slide 
					.item(class="rem:w-[200px] rem:h-[200px] rounded-2xl shadow-Dropshadow-Light bg-Neutral-White") 
						a(href="#" class="aspect-1 img-ratio lozad")
							img(src="./img/brand-1.png", alt="") 
		.arrow-button(class="flex left-0 absolute top-2/4 -translate-y-2/4 gap-3 justify-between  items-center w-full rem:px-[172px]  z-10 mt-10")
			.btn.btn-prev.btn-sw-1
			.btn.btn-next.btn-sw-1