section.home-4(class="bg-Primary-Silver rem:h-[760px] relative")
	.home-4-bg(class="absolute top-[4.5rem] left-2 rem:w-[200px] rem:h-[236px] z-40")
		img(src="./img/bg-home-4.png", alt="" class="w-full h-full object-cover lozad")
	.home-4-main(class="flex items-center h-full") 
		.col-left(class="rem:w-[1100px] absolute z-30")
			.content(class="bg-Primary-Red shadow-Dropshadow-Light py-20 pr-20 rem:pl-[260px]") 
				h2(class="title-36 !text-Neutral-White mb-12") Câu chuyện thương hiệu
				.desc(class="mb-12 text-Neutral-White text-lg font-normal opacity-75") 
					p Được khởi nguồn từ niềm đam mê với nghệ thuật thưởng thức rượu vang, chúng tôi đã bắt đầu hành trình của mình với mong muốn mang đến những sản phẩm chất lượng nhất với giá thành cạnh tranh. Sau hơn 20 năm phát triển, thương hiệu của chúng tôi tự hào sở hữu danh mục sản phẩm đa dạng, từ những dòng rượu dành cho người mới bắt đầu đến các bộ sưu tập cao cấp nhất. Mỗi sản phẩm đều được tuyển chọn kỹ càng với cam kết tuyệt đối về nguồn gốc xuất xứ và chất lượng khi đến tay khách hàng.
				.home-4-btn(class="mt-12") 
					.button-primary.white
						a(href="#")
							span Tìm hiểu thêm
							.icon 
								i.fa-regular.fa-arrow-right-long
		.col-right(class="rem:w-[940px] h-full absolute right-0 z-10")
			.image(class="rem:h-[760px] w-full") 
				a(href="#" class="w-full h-full lozad block")
					img(src="./img/1.jpg", alt="" class="w-full h-full object-cover") 