section.about-3(class="section-py bg-Neutral-White relative z-50")
	.about-3-vector-right(class="absolute right-0 top-0 rem:h-[314px] rem:w-[180px]")
		img(src="./img/vector2.png", alt="" class="w-full h-full object-contain")
	.about-3-vector-bottom(class="absolute left-0 bottom-[180px] rem:h-[314px] rem:w-[180px]")
		img(src="./img/about-3-bg.png", alt="" class="w-full h-full object-contain")
	.container 
		.about-3-main(class="flex  rem:gap-[70px] mb-base")
			.col-left(class="rem:w-[695px]")
				.image 
					a(href="#" class="img-ratio ratio:pt-[420_695] lozad rounded-2xl parallax-img")
						img(src="./img/1.jpg", alt="") 
			.col-right(class="w-[calc(100%-36.19791666666667rem-3.6458333333333335rem)] flex flex-col  justify-center relative")
				.arrow(class="absolute top-0 right-0")
					img(src="./img/arrow-about-3.png", alt="")
				.content(class="rem:w-[575px]")
					h2(class="title-36 mb-6") tầm nhìn
					.desc(class="text-lg text-Neutral-Black font-normal") 
						p Trở thành thương hiệu hàng đầu và đáng tin cậy nhất trong lĩnh vực phân phối rượu nhập khẩu cao cấp tại Việt Nam. Chúng tôi hướng tới việc xây dựng một hệ sinh thái toàn diện về rượu vang, từ sản phẩm chất lượng đến trải nghiệm dịch vụ cao cấp, nhằm kiến tạo phong cách sống sang trọng và tinh tế cho khách hàng.
		.about-3-main(class="flex flex-row-reverse  rem:gap-[70px]")
			.col-left(class="rem:w-[695px]")
				.image 
					a(href="#" class="img-ratio ratio:pt-[420_695] lozad rounded-2xl parallax-img")
						img(src="./img/1.jpg", alt="") 
			.col-right(class="w-[calc(100%-36.19791666666667rem-3.6458333333333335rem)] flex flex-col  justify-center relative")
				.arrow(class="absolute bottom-0 left-0")
					img(src="./img/arrow-left.png", alt="")
				.content(class="rem:w-[575px] pl-15")
					h2(class="title-36 mb-6") tầm nhìn
					.desc(class="text-lg text-Neutral-Black font-normal") 
						p Cung cấp các dòng rượu hảo hạng được tuyển chọn từ những thương hiệu danh tiếng trên thế giới, đi kèm với dịch vụ tư vấn chuyên sâu và tận tình. Chúng tôi cam kết mang đến cho khách hàng không chỉ là sản phẩm chất lượng mà còn là hành trình khám phá nghệ thuật thưởng thức rượu vang. Bằng sự uy tín và đam mê, chúng tôi mong muốn lan tỏa văn hóa thưởng thức rượu một cách sâu rộng, trở thành cầu nối giữa khách hàng và các tinh hoa văn hóa rượu vang quốc tế.